<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.excilys.voisinsenor" >


    <!-- INTERNET PERMISSION -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- LOCATION & GPS SERVICES PERMISSION -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <!-- STORAGE PERMISSION -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <!--GMS PERSMISSION-->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <permission android:name="com.excilys.voisinsenor.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.excilys.voisinsenor.permission.C2D_MESSAGE" />

    <application
        android:name="com.excilys.voisinsenor.MainApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <activity
            android:name="com.excilys.voisinsenor.ui.connection.LoadingActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.excilys.voisinsenor.ui.trajet.TrajetActivity"
            android:screenOrientation="portrait" />

    <!--    <activity android:name="com.excilys.voisinsenor.ui.connection.LoadingActivity"
            android:screenOrientation="portrait" />-->

        <activity android:name="com.excilys.voisinsenor.ui.connection.FirstScreenActivity"
            android:screenOrientation="portrait" />

        <activity android:name="com.excilys.voisinsenor.utils.CameraActivity"
            android:screenOrientation="portrait" />

        <activity android:name="com.excilys.voisinsenor.ui.connection.ConnectionActivity"
            android:screenOrientation="portrait" />

        <activity android:name="com.excilys.voisinsenor.ui.connection.InscriptionBisActivity"
            android:screenOrientation="portrait" />

        <activity android:name="com.excilys.voisinsenor.ui.connection.InscriptionActivity"
            android:screenOrientation="portrait" />

        <activity android:name="com.excilys.voisinsenor.ui.profile.ProfilActivity"
            android:screenOrientation="portrait" />

        <activity android:name="com.excilys.voisinsenor.ui.home.HomeActivity"
            android:screenOrientation="portrait" />

        <activity android:name="com.excilys.voisinsenor.ui.map.MapActivity"
            android:screenOrientation="portrait" />

        <activity android:name="com.excilys.voisinsenor.ui.chat.ChatActivity"
            android:screenOrientation="portrait" />

        <activity android:name="com.excilys.voisinsenor.ui.messenger.ConversationsActivity"
            android:screenOrientation="portrait" />

        <receiver
            android:name="com.google.android.gms.gcm.GcmReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />
                <category android:name="com.example.gcm" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.excilys.voisinsenor.gcm.MyGcmListenerService"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>
        <service
            android:name="com.excilys.voisinsenor.gcm.MyInstanceIDListenerService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.gms.iid.InstanceID"/>
            </intent-filter>
        </service>
        <service
            android:name="com.excilys.voisinsenor.gcm.RegistrationIntentService"
            android:exported="false">
        </service>
    </application>

</manifest>
